.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  & > div.nets-card {
    &:nth-child(1),
    &:nth-child(6) {
      margin-left: 0;
    }
    &:nth-child(5),
    &:nth-child(10) {
      margin-right: 0;
    }
  }
}
