.nets-menu {
  padding: 5px 0;
  color: rgba($color: #000, $alpha: 0.6);
  .nets-menu-title {
    padding: 0 10px;
    font-size: 13px;
  }
  .nets-menu-wrapper {
    margin: 5px 0px 20px;
    & > .nets-menu-list {
      cursor: pointer;
      padding: 5px 20px;
      border-left: 3px solid transparent;
      span {
        font-size: 12px;
      }
      &:hover {
        color: #000;
      }
      &.active {
        color: #000;
        background: #e6e7ea;
        border-left-color: #c62f2f;
      }
    }
  }
}
