$--transition: all ease-in-out 0.8s;

.nets-banner {
  height: 245px;
  .nets-banner-img-preload {
    display: none;
  }
  .banner-wrapper {
    overflow: hidden;
    margin: 20px auto 0;
    display: flex;
    width: 760px;
    position: relative;
    height: 200px;
    cursor: pointer;
    &:hover {
      i {
        opacity: 1;
      }
    }
    img {
      width: 380px;
      height: 190px;
    }
    span {
      align-items: center;
      justify-content: center;
      display: flex;
      z-index: 99;
      i {
        font-size: 36px;
        font-weight: bold;
        opacity: 0;
      }
      &:hover {
        i {
          color: #fff;
        }
      }
      &:nth-of-type(2) {
        margin-left: calc(100% - 72px);
      }
    }
    .active {
      z-index: 6;
      img {
        width: 540px;
        height: 200px;
      }
    }
    & div {
      position: absolute;
      z-index: 1;
      &:nth-child(2) {
        left: 110px;
      }
      &:nth-child(3) {
        left: 380px;
      }
      &:nth-child(4) {
        left: 190px;
      }
    }
    & div,
    img {
      transition: $--transition;
    }
    & > div:not(.active) {
      margin-top: 10px;
      z-index: 1;
      background: #000;
      img {
        filter: opacity(70%);
      }
    }
    /* transition 动画部分**/
    & div {
      &.tr1 {
        left: 0;
      }
      &.tr2 {
        left: 110px;
      }
      &.tr3 {
        left: 380px;
      }
      &.tr4 {
        left: 190px;
      }
    }
  }
  .banner-navgaitor {
    text-align: center;
    height: 30px;
    line-height: 30px;
    padding: 10px 0;
    span {
      transition: $--transition;
      margin: 12px 5px 0;
      border-top: 2px solid #ccc;
      padding: 0 2px;
      cursor: pointer;
      &.active {
        border-color: #c62f2f;
      }
    }
  }
}
