@mixin flex {
  display: flex;
  align-items: center;
  -webkit-user-select: none;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  .nets-header {
    height: 50px;
    background: #c62f2f;
    @include flex;
    .nets-logo {
      margin-left: 15px;
      width: 112px;
      height: 26px;
      background: url("./asserts/logo/logos.png") 0 0 no-repeat;
      background-size: 116px 26px;
      cursor: pointer;
    }
    .nets-pagination {
      @include flex;
      color: #fff;
      margin-left: 65px;
      i {
        position: absolute;
        font-size: 9px;
        padding-bottom: 5px;
        left: 8px;
        top: 6px;
      }
      & span {
        height: 20px;
        display: inline-block;
        box-shadow: 0 0 0 0.5px #666;
        border-radius: 1px;
        padding: 0 13px;
        position: relative;
        cursor: pointer;
      }
    }
    .nets-search {
      margin-left: 12px;
      padding: 2px 10px;
      border-radius: 12px;
      background: rgba($color: #000, $alpha: 0.15);
      @include flex;
      input {
        background: transparent;
        border: none;
        outline: none;
        caret-color: #fff;
        width: 180px;
        &::placeholder {
          color: rgba($color: #fff, $alpha: 0.34);
          font-size: 12px;
          font-family: "宋体";
        }
        &:focus::placeholder {
          color: transparent;
        }
      }
      i {
        font-size: 18px;
        color: rgba($color: #fff, $alpha: 0.34);
      }
    }
  }
  .nets-footer {
    height: 50px;
    @include flex;
  }
  .nets-main {
    flex: 1 1 0%;
    @include flex;
  }
}
